<div id="{{id}}-selected-container" style="position:relative;">
	{{#each attachments}} {{> attachmentLink}} {{/each}}
	<hr style="margin-top: 10px; margin-bottom: 0px;">
	<div class="attachments-blacklisted hidden">
		{{#each blacklistedAttachments}} {{> attachmentLink}} {{/each}}
	</div>
</div>
<div class="attachment-bottom-actions ">
	<div class="checkbox awesome pull-left" style="margin-top: -7px">
		<input class="formValue" type="checkbox" id="attachment-select-all-none" name="attachment-select-all-none" />
		<label for="attachment-select-all-none"></label>
	</div>
	<a class="select-all-none-attachments">{{i18n 'dialog.selectAllNoneAttachments'}}</a>
	<a class="show-blacklisted-attachments hidden">{{i18n 'dialog.showBlacklistedAttachments'}} (
		<span id="blacklistedAttachmentCount">{{blacklistedAttachments.length}}</span>)</a>
	<a class="hide-blacklisted-attachments hidden">{{i18n 'dialog.hideBlacklistedAttachments'}} </a>
	<a class="addAttachmentLink">{{i18n 'dialog.attachmentAdd'}}</a>
</div>