<div class="field-group" id="{{id}}-container">
	<label for="description">
		<span class="descr">{{label}}</span>
	</label>
	<div>
		<div id="{{id}}-selected-container" style="position:relative;">
			{{#each attachments}}
				{{> attachmentLink}}
			{{/each}}
			<hr style="margin-top: 10px; margin-bottom: 0px;">
			<div id="{{id}}-blacklisted" class="attachments-blacklisted">
				{{#each blacklistedAttachments}}
					{{> attachmentLink}}
				{{/each}}
			</div>
		</div>
		<div id="{{id}}-link" class="attachment-bottom-actions">
			<a class="show-blacklisted-attachments-old">{{i18n 'dialog.showBlacklistedAttachments'}} (<span id="blacklistedAttachmentCount">3</span>)</a>
			<a class="hide-blacklisted-attachments-old">{{i18n 'dialog.hideBlacklistedAttachments'}} </a>			
			<a class="addAttachmentLink">{{i18n 'dialog.attachmentAdd'}}</a>
		</div>
	</div>
</div>